@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1, h2, h3, h4, h5, h6 {
  @apply font-husky-stash;
} */

@layer base {
  /* Don't delete this
   * Without it, rounded-md and rounded-sm (probably some other stuff as well) wouldn't work
   * */
  :root {
    --radius: 0.5rem;
  }

  .font-outline-2 {
    -webkit-text-stroke: 2px #6f1026;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #6f1026;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: #cc7ebc;
  }

  ::-webkit-scrollbar-thumb {
    background: #520245;
    border-radius: 9999px;
  }
}

body {
  @apply font-geist;
}

* {
  font-family: inherit;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
