@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-husky-stash;
} */

.font-orelegaOne {
  font-family: var(--orelega-one);
}

@layer base {
  /* Don't delete this
   * Without it, rounded-md and rounded-sm (probably some other stuff as well) wouldn't work
   * */
  :root {
    --radius: 0.5rem;
  }
}

body {
  @apply font-geist;
}

* {
  font-family: inherit;
}
